.Header
  グループを作成しました

.Wrapper
.Wrapper__Main
  .Wrapper__Main__Main-header
    .Wrapper__Main__Main-header__edit-btn
      edit
    .Wrapper__Main__Main-header__left-box
      .Wrapper__Main__Main-header__left-box__current-group
        group1
      .Wrapper__Main__Main-header__left-box__member-list
        masato
  .Wrapper__Main__Message
    message
  .Wrapper__Main__Form
.Wrapper__Side
  .Wrapper__Side__Side-header
    .Wrapper__Side__Side-header__box
      .Wrapper__Side__Side-header__box__user-name
        masato
      .Wrapper__Side__Side-header__box__user-menu
        = link_to "https://chat-space-sample.herokuapp.com/groups/new", class: "Side-header__box__user-menu__new" do
          = fa_icon "cog"
        = link_to "https://chat-space-sample.herokuapp.com/users/516/edit", class: "Side-header__box__user-menu__edit" do
          = fa_icon "edit"
  .Wrapper__Side__Group
    group1

